### CLS-ALUNO ####################################################
image: python:jessie

before_script: #Global script (Run before each stage)
- apt-get update --quiet --yes

stages:
- deploy

### BUILD ####################################################
deploy-job-production:
  script:
  - apt-get install --quiet python-pip zip --yes
  - pip install -U pip  # pip update
  - pip install awscli  # AWS CLI installation
  - zip ccl-alumniad-api-prod.zip -r ./
  - aws s3 cp cl-alumniad-prod.zip $AWS_S3_LOCATION/production/cl-alumniad/cl-alumniad.zip # Uploads the zipfile to S3 and expects the AWS Code Pipeline/Code Deploy to pick up
  # requires previous CI stages to succeed in order to execute
  when: on_success
  stage: deploy
  environment: production #Assign the Gitlab Environment for tracking purposes
  only:
  - master

deploy-job-developer:
  image: python:jessie
  script:
  - apt-get install --quiet zip --yes
  - pip install -U pip  # pip update
  - pip install awscli  # AWS CLI installation
  # - mv ./appspec.yml ./appspec-prod.yml
  # - mv ./appspec-dev.yml ./appspec.yml
  - zip cl-alumniad-api-dev.zip -r ./
  - aws s3 cp cl-alumniad-api-dev.zip $AWS_S3_LOCATION/developer/cl-alumniad/cl-alumniad.zip # Uploads the zipfile to S3 and expects the AWS Code Pipeline/Code Deploy to pick up
  # requires previous CI stages to succeed in order to execute
  when: on_success
  stage: deploy
  environment: developer #Assign the Gitlab Environment for tracking purposes
  only:
  - develop
  - feature/cicd

